biblio.bib
drone_manual.aux
drone_manual.bbl
drone_manual.blg
drone_manual.brf
drone_manual.fdb_latexmk
drone_manual.fls
drone_manual.lof
drone_manual.log
drone_manual.lot
drone_manual.out
drone_manual.pdf
drone_manual.synctex.gz
drone_manual.toc
llegiu_me.pdf
mcode.sty

setup/EETAC-positiu-negre.eps
setup/EETAC-positiu-negre.png
setup/dades.log

*.fdb_latexmk
*.aux
*.fls
*.log